name: Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      
      - name: Build JAR
        run: |
          chmod +x ./gradlew
          ./gradlew :vanillaenoughitems-paper:shadowJar
      
      - name: Upload JAR to Release
        uses: softprops/action-gh-release@v1
        with:
          files: vanillaenoughitems-paper/build/libs/VanillaEnoughItems-*.jar
